  

  <h1>request send by user for change role</h1>



<table class="table">
  <tr class="info">
    <th class="col-lg-5">User Name</th>
    <th class="col-lg-6">Role</th>
    <th class="col-lg-3">Action</th>
  </tr>



 <% @approveroles.each do |approverole| %>
     
  <tr>

    <td><%=approverole.user.fullname%></td>  	
    <td><%=approverole.role.name%></td>
    <td><%unless approverole.approve_role.present? %>
            <%= link_to 'Approve request', request_confirm_approverole_path(approverole), method: :post, class: "btn btn-success" %>
        <%else%>
      	    <button class="btn btn-primary">Approved request</button>
        <%end%>
     </td>     
    

  </tr>
 <%end%>
</table> 